
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
  --main-color: #ff2332;
  --primary-color: #ff662d;
  --dark-color: #37383c;
  --darklight-color: #3a3b3f;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: #37383c;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

/*----------------------Navbar----------------------*/


.logo{
  width: 16%;
  /* z-index: 100; */
  
}

.navbar{
  background-color: #3a3b3f;
  width: 100%;
   position: sticky;
  top: 0;
  z-index: 55554;
}
.nav-item{
  position: relative;
  z-index: 100;
  padding: 1rem 0;
}
.nav-item a{
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  font-weight: 300;
}
.nav-item li{
  padding: 0 0.4rem;
}

.nav-item a:focus,
.nav-item a:hover{
  color: var(--main-color) ;

}
.btn1{
  position: relative;
  border: 0;
  padding: 0.7rem 1.55rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 6px;
  font-weight: 500px;
  letter-spacing: 0.4px;
  z-index: 100;
}
.btn1:hover{
  background-color: rgb(242, 83, 83);
  transition: 0.5s;
}
/*-------------------------Hero----------------------------------*/


.Hero-col1{
    background-image: url("./assets/Home1.jpg");
    height: 450px;
    background-size: cover;
    width: 100%;
    background-color: #3a3b3f;

}
.hero-top h1{
  color: #fff;
  width: 30%;
  margin-left: 60px;
  padding-top: 50px;
  
}

.hero-top span{
  color:rgb(242, 83, 83) ;
}
.Hero-col1 p{
  color: #aaa;
  width: 50%;
  padding-top: 20px;
  margin-left: 60px;
}
.hero-btns{
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 30px;
  margin: 30px;
}
.play-bnt{
    font-size: 17px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.icon-video{
  font-size: 22px;
}


.Hero-col2 img{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 450px;
   background-size: cover;
    width: 50%;
    margin-left: 600px;
}
.hero-top2 h1{
  margin-top: -400px;
  width: 30%;
  margin-left: 60px;
  color: #fff;
}
.hero-top2 span{
  color:rgb(242, 83, 83) ;
}
.Hero-col2 p{
  color: #aaa;
  width: 50%;
  padding-top: 20px;
  margin-left: 60px;
}
.Hero-col3 img{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 450px;
   background-size: cover;
    width: 40%;
    margin-left: 650px;
 
}
.hero-top3 h1{
  margin-top: -400px;
  width: 30%;
  margin-left: 60px;
  color: #fff;
}
.hero-top3 span{
  color:rgb(242, 83, 83) ;
}
.Hero-col3 p{
  color: #aaa;
  width: 50%;
  padding-top: 20px;
  margin-left: 60px;
}


/*------------------------------fitness-Goal------------------------------*/

.fitness-goal{
  margin-top: 90px;
  padding: 1rem 0;
  color: #fff;
}
.fitness-col1 h1{
    font-weight: 800px;
    letter-spacing: 0.3px;
}
.fitness-col1 p{
  font-size: 1.3rem;
  font-weight: 500px;
  letter-spacing: 0.3px;

}
.fitness-col3 img{
  border-radius: 10px;
  position: relative;
}
.popup{
  display: flex;
  align-items: end;
  gap: 15px;
  position: absolute;
   left: 400px;
   margin-top: -80px;
   background: #fff;
   border-radius: 15px;
  height: 60px;
  width: 180px;
}
.icon-popup{
  font-size: 60px;

}
.popup h5{
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.fitness-col4 h1{
     font-weight: bold;
     letter-spacing: 2px;
}
.fitness-col4 p{
  color: #ccc;
  line-height: 30px;
}
.fitness-col4 button{
  border: 0;
  padding: 0.7rem 1.55rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 6px;
  font-weight: 500px;
  letter-spacing: 0.4px;
  margin-left: 40px; 
  cursor: pointer;
  transition: 0.5s; 
}
.fitness-col4 button:hover{
  background-color:rgb(211, 88, 88) ;

}
.fitness-col4 > *{
    margin-bottom: 25px;
}


/*-----------------------------Best Offers------------------------*/

.besoffers{
  margin-top: 90px;
  margin-bottom: 60px;
  background: var(--darklight-color);
  padding: 40px;
}
 .tittle{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.besoffers .tittle h2{
     margin-bottom: 15px;
    width: 40%;
    color: #ff662d;
    line-height: 50px;
    font-weight: bold;
}
.besoffers .tittle p{
  width: 40%;
   color: #ccc;
}

.best-down{
   display: flex;
   align-items: center;
   gap: 20px;
   margin-top: 25px;
   
}
.offers{
  color: #fff;
  background: var(--dark-color);
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.offers > *{
  text-align: center;
  margin-bottom: 15px;
}
.offers .icon-offer{
     font-size: 40px;
    color: #ff662d;
}
.offers h3{
  font-size: 25px;
}
.offers .more{
  display: flex;
  align-items: center;
  gap: 15px;
}
.offers .more h5{
  font-size: 16px;
}

.offers:hover{
transform: translate(0, 20px);  
background: linear-gradient(#e9ab94,#ff662d );  

}
.offers:hover .icon-offer{
  color: #fff;
}


/*-----------------------Services------------------------*/

.services{
  
  background: var(--darklight-color);
  margin-top: 100px;
  margin-bottom: 100px;
}
.service{
  display: flex;
  align-items: center;
  margin-left: 80px;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;

}

.right-service h2{
   color: #fff;
   font-weight: bold;
   width: 80%;
   line-height: 50px;
   margin-bottom: 30px;
   margin-left: 25px;
}
.tittle{
  display: block;
}
.icon-service{
  display: flex;
  align-items: center;
  justify-content: center;
   margin-right: 70%;
   gap: 8px;

}
.icon-service h4{
  font-size: 17px;
  font-weight: bold;
  
}
.icon-service .icon-s{
  color: #ff662d;
  font-size: 19px;
  margin-bottom: 10px;
}

.tittle p{
  width: 70%;
  font-size: 15px;
  line-height: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
}
.right-service button{
  margin-top: 16px;
  border: 0;
  padding: 0.7rem 1.55rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 6px;
  font-weight: 500px;
  letter-spacing: 0.4px;
  margin-left: 40px; 
  cursor: pointer;
  transition: 0.5s; 
}
.right-service button:hover{
  background-color:rgb(211, 88, 88) ;
   
}
.left-service img{
    width: 420px;
}


/*-----------------------BestPlan----------------------*/

.bestPlan{
  color: #fff;
  padding: 6rem 0;
  text-align: center;
  display: flex;
}
.bestPlans h3{
  margin-right: 20px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}
.bestPlans p{
  margin-bottom: 60px;

}

.bestPlan h4{
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 20px;
 }

 .bestPlan_col1{
  background: var(--darklight-color);
   padding: 1.3rem;
  border-radius: 20px;
  width: 90%;
  margin-top: 20px;
  transition: 0.5s;
  text-align: center;
 }
 .bestPlan_col1 h1{
     margin-bottom: 18px;
 }
.bestPlan_col1 span{
  font-size: 20px;
}
.icon-plane{
  display: flex;
  margin-left: 3.6rem;
  align-items: center;
  gap: 10px;
}
.icon-plane .icon-p{
  margin-bottom: 8px;
  font-size: 20px;
}
.bestPlan_col1 button{
  margin-top: 10px;
  /* margin-right: 20px; */
   border: 1px solid #fff;
  padding: 0.6rem;
  background-color:var(--darklight-color) ;
  color: #fff;
  border-radius: 50px;
  font-weight: 500px;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: 0.5s; 
  width: 50%;
} 
.bestPlan_col1:hover{
  scale: 1.1;
 }
 .bestPlan_col1:hover button{
  background: var(--primary-color);
  color: var(--darklight-color);
 }
.bestPlan_col2{
   transition: 0.5s;
  background: var(--primary-color);
  padding: 1.3rem;
 border-radius: 20px;
 width: 90%;
 
 text-align: center;
 }
 .bestPlan_col2:hover{
  scale: 1.1;
 }
 .bestPlan_col2:hover button{
  background: var(--primary-color);
  color: #fff;
 }
 .bestPlan_col2 h1{
  margin-bottom: 18px;
}
.bestPlan_col2 span{
font-size: 20px;
}
.icon-plane{
display: flex;
margin-left: 3.6rem;
align-items: center;
gap: 10px;
}
.icon-plane .icon-p{
margin-bottom: 8px;
font-size: 20px;
}
.bestPlan_col2 button{
  margin-top: 10px;
  /* margin-right: 20px; */
   border: 1px solid #fff;
  padding: 0.6rem;
  background-color:#fff;
  color: var(--darklight-color);
  border-radius: 50px;
  font-weight: 500px;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: 0.5s; 
  width: 50%;
} 


/*-----------------------Clinets----------------------------*/

.clinets{
  width: 80%;
  margin-left: 150px;
}
.clinet{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 100px;
}
.right-clinet > *{
  color: #fff;
  margin-bottom: 20px;
  
}
.right-clinet h2{
  font-weight: bold;
}
.right-clinet p{
  font-size: 15px;
}
.img-clinet{
  display: flex;
  align-items: center;
 
}
.img-clinet .photos{
   width: 38px;
   border-radius: 50%;
}
.star{
  color: gold;
  margin-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  transition: 0.5s;
}
.star:hover{
  transform: scale(1.2);
  cursor: pointer;

}
.img-clinet p{
  margin-top: 15px;
}
.left-clinet{
  color: #fff;
  padding: 15px;
  border-radius: 20px;
   text-align: center;
   background: #3a3b3f;

}
.photo-clinet{
  display: flex;
  align-items: center;
  gap: 10px;
}
.photo-clinet img{
  width: 50px;
  border-radius: 50%;
}
.our-clinet p{
  margin-top: 15px;
}


/*---------------------Footer--------------------*/

.footers{
  background: var(--darklight-color);
  padding: 10px;
}
.footer-up{
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.footer-up > *{
  color: #fff;
  margin-bottom: 15px;
}
.footer-up h2{
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   margin-left: 24px;
}
.footer-help h2{
  margin-left: 2px;
  margin-bottom: 20px;
}
.footer-company ul li{
    padding: 10px;
    
}
.contacts{
  display: flex;
  gap: 10px;
}
.icon-contact{
  margin-top: 5px;
  color: #ff2332;
}
hr{
  color: #fff;
  width: 80%;
   margin-left: 100px;
  
}
.footer-subscrib > *{
  margin-bottom: 25px;
}
.footer-subscrib .email input{
  
  margin-left: 25px;
  border-radius: 50px;
  border: none;
  padding: 10px;
 
}
.footer-subscrib .email .icon-email{
 
  color: #fff;
background: #ff2332; 
border-radius: 50%;
  font-size: 30px;
   padding: 5px;
    margin: 5px;

}
.footer-down{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin: 40px;
  color: #fff;
}
.footer-down img{
  width: 150px;
}
.footer-down .social{
  display: flex;
  align-items: center;
  gap: 15px;
   font-size: 20px;
   cursor: pointer;
}



/*--------------------media screen-----------------------*/

@media  (max-width: 700px) {

   .logo{
    width: 120px;
   }
   .icon-menu{
    border: none;
    color: #fff;
    font-size: 23px;
   }
   .Hero-col1 h1{
    width: 90%;
    margin-left: 10px;

   }
   .Hero-col1{
    font-size: 1rem;
    height: 90vh;
   }
   .Hero-col1 p{
    width: 80%;
   }
   .hero-btns {
    width: 90%;
    height: 65px;
    display: block;
    
   }
    .btn1{
      margin-top: -20px;
    margin-bottom: 10px;
   }
   .Hero-col2 h1{
    width: 90%;
    margin-left: 10px;
   }
   .Hero-col2 img{
    display: none;
    font-size: 1rem;
   }
   .Hero-col2 p{
    width: 80%;
   }
  
   .Hero-col3{
    font-size: 1rem;
   
   }
   .Hero-col3 h1{
    width: 90%;
    margin-left: 10px;

   }
   .Hero-col3 p{
    width: 80%;
   }
   .Hero-col3 img{
    display: none;
   }

   .best-top .tittle h2{
    width: 100%;
    text-align: center;
   }
   .best-top .tittle p{
    width: 90%;
    text-align: center;
    top: 30px;
   }
   .best-down{
    display: block;
   
   }
   .offers{
    margin-bottom: 10px;
   }
  .service {
    width: 90%;
     display: block;
     margin-left: 15px;
   }
  .icon-service{
    width: 130px;
  }
   .left-service img{
    width: 100%;
    margin-top: 10px;
   }
   .col-md-4{
    display: block;
    width: 100%;
   }
   .clinet{
    display: block;
    width: 90%;
    /* margin-right: 30px; */
   left: -100px;
   }
   .right-clinet{
     width: 95%;
     margin-right: 20px;
   }
   .right-clinet h2{
     margin-right: 80px;
     text-align: center;
   }
   .right-clinet p{
    margin-right: 80px;
    text-align: center;
  }
  .img-clinet{
    display: block;
  }
  .left-clinet{
    margin-right: 100px;
    width: 75%;
  }
  .footer-up{
    display: block;
    text-align: center;
  }
  .footer-down{
    display: block;

  }
  .footer-down > *{
    margin-bottom: 10%;
  }
  .contacts{
    margin-left: 75px;
  }
  .footer-subscrib input{
    width: 70%;
  }
   

}
